In [2]:
import pandas as pd

pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)
pd.set_option('display.max_colwidth', None)
pd.set_option('display.max_rows', None)
import matplotlib.pyplot as plt


df = pd.read_csv('/Users/prateeklodha/Desktop/data analysis/data_jobs.csv')

df['job_posted_date']=pd.to_datetime(df.job_posted_date)
df.iloc[0:10], [0]

(        job_title_short                                                             job_title                  job_location             job_via         job_schedule_type  job_work_from_home          search_location     job_posted_date  job_no_degree_mention  job_health_insurance    job_country salary_rate  salary_year_avg  salary_hour_avg                   company_name                                                                                                  job_skills                                                                                                                                                                                  job_type_skills
 0  Senior Data Engineer  Senior Clinical Data Engineer / Principal Clinical Data Engineer ...                 Watertown, CT     via Work Nearby                 Full-time               False     Texas, United States 2023-06-16 13:44:15                  False                 False  United States         NaN              NaN              NaN           Boehringer Ingelheim                                                                                                         NaN                                                                                                                                                                                              NaN
 1          Data Analyst                                                          Data Analyst  Guadalajara, Jalisco, Mexico    via BeBee MÃ©xico                 Full-time               False                   Mexico 2023-01-14 13:18:07                  False                 False         Mexico         NaN              NaN              NaN     Hewlett Packard Enterprise                                                      ['r', 'python', 'sql', 'nosql', 'power bi', 'tableau']                                                                                                       {'analyst_tools': ['power bi', 'tableau'], 'programming': ['r', 'python', 'sql', 'nosql']}
 2         Data Engineer                Data Engineer/Scientist/Analyst, Mid or Senior (m/f/x)               Berlin, Germany        via LinkedIn                 Full-time               False                  Germany 2023-10-10 13:14:55                  False                 False        Germany         NaN              NaN              NaN       ALPHA Augmented Services                       ['python', 'sql', 'c#', 'azure', 'airflow', 'dax', 'docker', 'kubernetes', 'jenkins']                                   {'analyst_tools': ['dax'], 'cloud': ['azure'], 'libraries': ['airflow'], 'other': ['docker', 'kubernetes', 'jenkins'], 'programming': ['python', 'sql', 'c#']}
 3         Data Engineer     LEAD ENGINEER - PRINCIPAL ANALYST - PRINCIPAL ENGINEER -  DATA...               San Antonio, TX   via Diversity.com                 Full-time               False     Texas, United States 2023-07-04 13:01:41                   True                 False  United States         NaN              NaN              NaN   Southwest Research Institute                                ['python', 'c++', 'java', 'matlab', 'aws', 'tensorflow', 'keras', 'pytorch']                                                                          {'cloud': ['aws'], 'libraries': ['tensorflow', 'keras', 'pytorch'], 'programming': ['python', 'c++', 'java', 'matlab']}
 4         Data Engineer                                                Data Engineer- Sr Jobs                Washington, DC  via Clearance Jobs                 Full-time               False                    Sudan 2023-08-07 14:29:36                  False                 False          Sudan         NaN              NaN              NaN                Kristina Daniel                        ['bash', 'python', 'oracle', 'aws', 'ansible', 'puppet', 'jenkins', 'gitlab', 'git']                                                                      {'cloud': ['oracle', 'aws'], 'other': ['ansible', 'puppet', 'jenkins', 'gitlab', 'git'], 'programming': ['bash', 'python']}
 5         Data Engineer                                                     GCP Data Engineer                      Anywhere    via ZipRecruiter  Contractor and Temp work                True                  Georgia 2023-11-07 14:01:59                  False                 False  United States         NaN              NaN              NaN                smart folks inc                                                                                    ['python', 'sql', 'gcp']                                                                                                                                             {'cloud': ['gcp'], 'programming': ['python', 'sql']}
 6  Senior Data Engineer                                     Senior Data Engineer  - GCP Cloud                  Dearborn, MI        via LinkedIn                 Full-time               False   Florida, United States 2023-03-27 13:18:18                  False                 False  United States         NaN              NaN              NaN  Miracle Software Systems, Inc                                        ['sql', 'python', 'java', 'sql server', 'gcp', 'bigquery', 'hadoop']                                                                   {'cloud': ['gcp', 'bigquery'], 'databases': ['sql server'], 'libraries': ['hadoop'], 'programming': ['sql', 'python', 'java']}
 7         Data Engineer                                                         Data Engineer                      Anywhere        via LinkedIn                 Full-time                True                  Romania 2023-12-07 13:40:49                  False                 False        Romania         NaN              NaN              NaN                          Zitec  ['sql', 'nosql', 'gcp', 'azure', 'aws', 'bigquery', 'databricks', 'redshift', 'airflow', 'kafka', 'spark']                                            {'cloud': ['gcp', 'azure', 'aws', 'bigquery', 'databricks', 'redshift'], 'libraries': ['airflow', 'kafka', 'spark'], 'programming': ['sql', 'nosql']}
 8      Business Analyst                              Technology & Operations Business Analyst           Copenhagen, Denmark     via Trabajo.org                 Full-time               False                  Denmark 2023-06-05 13:44:34                  False                 False        Denmark         NaN              NaN              NaN                         Hempel                                                                         ['excel', 'powerpoint', 'power bi']                                                                                                                                           {'analyst_tools': ['excel', 'powerpoint', 'power bi']}
 9        Data Scientist                                                     Data Scientist II                      Anywhere    via ZipRecruiter                 Full-time                True  New York, United States 2023-04-23 13:02:57                  False                 False  United States         NaN              NaN              NaN     Radwell International, LLC  ['sql', 'python', 'r', 'mongodb', 'mongodb', 'sql server', 'azure', 'pandas', 'spark', 'windows', 'excel']  {'analyst_tools': ['excel'], 'cloud': ['azure'], 'databases': ['mongodb', 'sql server'], 'libraries': ['pandas', 'spark'], 'os': ['windows'], 'programming': ['sql', 'python', 'r', 'mongodb']},
 [0])

In [3]:
df.loc[:, 'salary_rate':'salary_year_avg'].dropna(subset='salary_rate').max()

salary_rate            year
salary_year_avg    960000.0
dtype: object

In [4]:
median_salary_hour = (df['salary_hour_avg'].median())

In [5]:
median_salary_year = (df['salary_year_avg'].median())