In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
df = pd.read_csv('/Users/prateeklodha/Desktop/data analysis/data_jobs.csv')
df['job_posted_date']=pd.to_datetime(df.job_posted_date)

In [2]:
df_salary= df[pd.notna(df['salary_year_avg'])]

In [3]:
def projected_salary(salary):
    return salary*1.03

df_salary['inflated_salary'] = df_salary['salary_year_avg'].apply(projected_salary)

df_salary[['salary_year_avg', 'inflated_salary']]

/var/folders/z1/d9dl68s55y15kfn180sztb6m0000gn/T/ipykernel_80847/3608232131.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_salary['inflated_salary'] = df_salary['salary_year_avg'].apply(projected_salary)

        salary_year_avg  inflated_salary
28             109500.0        112785.00
77             140000.0        144200.00
92             120000.0        123600.00
100            228222.0        235068.66
109             89000.0         91670.00
...                 ...              ...
785624         139216.0        143392.48
785641         150000.0        154500.00
785648         221875.0        228531.25
785682         157500.0        162225.00
785692         157500.0        162225.00

[22003 rows x 2 columns]

In [4]:
import ast

In [5]:
def clean_list(skill_list):
    if pd.notna(skill_list):
        return ast.literal_eval(skill_list)
    

df['job_skills'] = df['job_skills'].apply(clean_list)

In [18]:
type(df['job_skills'][1])

list